.exercise-form-background {
    background-image: url("../../../assets/Stack-Lunges-outside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}