.log-image-container {
    margin-bottom: 100px;
 
}

.food-container {
    position: relative;
    width: 75%;
    margin-bottom: 50px;
}

.food-container .food-log-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.food-container .add-food-btn{
    position: absolute;
    bottom: 150px;
    top: 0%;
    left: 10%;
    transform: translate(-30%, -410%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-food-link {
    color: #fff;
}

.add-food-link:hover {
    color: #fff;
}

.add-content{
    color: #fff;
    font-size: 18px;
}

.exercise-container{
    position: relative;
    width: 75%;
    margin-bottom: 50px;
}

.exercise-container .exercise-log-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.exercise-container .add-exercise-btn {
    position: absolute;
    bottom: 150px;
    top: -45%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-exercise-link {
    color: #fff;
}

.add-exercise-link:hover {
    color: #fff;
}

.food-logs{
    padding-bottom: 150px;
}


.exercise-logs{
    padding-bottom: 150px;
}

.flame-img {
    width: 20px;
}

.cal-eaten {
    color: red;
    font-size: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.cal-burned {
    color: green;
    font-size: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.total {
    font-size: 20px;
    font-weight: bold;
}

.equals {
    font-size: 20px;
    font-weight: bold;
}

.minus {
    font-size: 20px;
    font-weight: bold;
}

.just-cal-burned {
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}

.progress{
    margin-bottom: 50px;
    font-size: 30px;
}

.emoji-macro{
    width: 20px;
    margin-right: 10px;
}

.macro-container {
    margin: 50px 0px;
}

.macro-totals {
    font-size: 20px;
    font-weight: bold;
}

.log-contents{
    font-size: 20px;
}

.emoji {
    font-size: 20px;
}

.total, .grid-title{
    color: teal;
}

.recipe-title{
    margin-bottom: 50px;
}

.macro-under{
    color: green;
    padding-left: 10px;
}

.macro-over{
    color: red;
    padding-left: 10px;
}

.net-title{
    padding-left: 10px;
}

