.pro-image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.userInfo-container {
    margin-top: 50px;
}

.city {
    font-size: 18px;
    color: teal;
}

.state {
    font-size: 18px;
    color: teal;
}

.member {
    font-size: 18px;
    color: teal;
}

.userinfo {
    font-size: 18px;
}

.points-container{
    margin: 80px;
}


.total-points {
    color: teal;
    font-size: 50px;
    font-weight: bold;
}

.points-earned {
    font-size: 18px;
    font-weight: bold;
}

.uploadedImg {
    width: 270px;
    height: 250px;
    margin-left: 40px;
    border-radius: 5px;
  
  }

  #question-icon {
      width: 20px;
      height: 20px;
  }

  .dashboard-images{
      width: 350px;
      height: 275px;
      border-radius: 15px;
  }

  .badge-title{
    margin-top: 50px;
  }

  .goal-container {
      padding: 50px 0px 50px 0px;
  }

  .goalTitle{
      color: teal;
  }

  .goalItems {
      font-size: 18px;
      font-weight: bold;
  }

  .goalValues{
      font-size: 16px;
  }

  