.goal-form-background{
    background-image: url("../../../assets/content-pixie-l6I8jpzKJQU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}